.tag {
  background-color: light-dark(var(--light-primary), var(--light-secondary));
  color: light-dark(var(--dark-primary), var(--dark-secondary));
  padding: 5px;
  font-size: 0.6rem;
  border-radius: 0.4rem;
  font-weight: 600;
  white-space: nowrap;
}