.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    padding: 24px;
    font-size: 1.6rem;
}

.menu > li {
    list-style-type: none;
}

.menu > li:after {
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    height: 2px;
    background-color: transparent;
}

.menu > li:hover:after,
.menu > li.active:after {
    width: 100%;
    background-color: var(--secondary);
    opacity: 0.5;
    transition: width .25s ease-in-out, background-color .4s ease-in;
}