.menu {
    padding: 24px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
    text-transform: uppercase;
}

.menu a:after {
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    height: 2px;
    background-color: transparent;
}

.menu a:hover:after,
.menu a.active:after {
    width: 100%;
    background-color: light-dark(var(--light-secondary), var(--dark-secondary));
    opacity: 0.5;
    transition: width .25s ease-in-out, background-color .4s ease-in;
}