.item { 
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-radius: 0.5rem;
    padding: 8px;
}

.item:hover {
    background-color: light-dark(var(--light-tertiary), var(--dark-tertiary));
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media screen and (max-width: 769px) {
  .item {
    flex-direction: column;
    gap: 8px;
  }
}

