@import "./App.css";
@import "./icons.css";
@import "./all.min.css";

a:not(.item) {
  text-decoration: none;
  color: #1c5cb1;
}

a:not(.item):hover {
  text-decoration: underline;
}

a .icon {
  color: white;
}

.box {
  position: relative;
  text-align: left;
  float: left;
  color: black;
  height: fit-content;
  padding: 20px;
}

.App.dark .box {
  background-color: rgb(43, 43, 43);
  color: white;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  height: 55px;
  color: white !important;
  background: linear-gradient(to right, #1c5cb1, #4173b6, #064aa3);
  transition: height 0.2s ease-in;
  position: fixed;
  top: 0px;
}

.big.menu {
  height: 150px;
  max-height: 150px;
  transition: height 0.2s ease-out;
}

.App.dark .menu {
  color: white;
  background: linear-gradient(to right, #111, #222, #111);
}

.menu .content {
  margin: auto auto;
  display: flex;
  max-width: 960px;
}

.big.menu .content {
  width: 100%;
  align-self: center;
}

.menu h2.name {
  margin: 0px !important;
}

.big.menu .item {
  display: block;
  float: left;
  margin: auto;
  width: auto;
}

.menu .group.item {
  float: unset;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.big.menu .group.item {
  display: grid;
  font-size: 2.2rem;
}

.menu .group.item a {
  display: block;
}

.menu .item span {
  opacity: 0;
  transition: opacity .00001s;
}

.big.menu .item span {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.menu .item:not(:has(img)):hover {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu .item:not(:has(img)) {
  background-color: transparent;
  text-transform: uppercase;
  width: fit-content;
  float: left;
  padding: 10px;
}

img.profile {
  vertical-align: middle;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  transform: scale(1);
  transition: transform .3s;
}

.big.menu img.profile {
  transform: scale(3);
  transition: transform .4s ease-out;
}

.menu:not(.big) .content>.item:nth-child(2) {
  display: flex;
  margin-right: 8px;
}

.menu h1 {
  font-size: 1.2rem;
  padding-left: 10px;
  margin: auto;
  transition: font-size .1s ease-in;
}

.big.menu h1 {
  font-size: 2rem;
  padding-top: 0px;
  padding-left: 0px;
  transition: font-size .2s ease-in;
}

.big.menu h1::after {
  content: " dos Reis de Jesus";
}

.App.dark .menu .content .item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Texts */

.muted {
  color: rgba(0, 0, 0, 0.5);
  word-break: break-word;
}

.App.dark .muted {
  color: rgba(255, 255, 255, 0.5);
}

.box .title {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.info span {
  display: block;
}

/* Buttons */

.scroll-to-top {
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity .2s ease-out;
  color: #064aa3;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 1.8rem;
}

.scroll-to-top.visible {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.scroll-to-top.visible:hover {
  transform: translateZ(20px);
}

/* Profile */

.profile .header {
  margin: 30px auto;
}

/* Projects */

.projects {
  margin-left: 5%;
  position: absolute;
  right: 10vw;
  width: 20vw;
}

.tiles {
  margin: 5px;
}

.tile {
  padding: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.App.dark .tile {
  padding: 10px 10px 10px 10px;
  background-color: rgb(59, 59, 59);
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tile .name::before {
  content: "#";
  font-weight: bold;
  margin-right: 5px;
}

.tile .tecnologies {
  margin-top: 10px;
}

.tile .more {
  margin: 15px 0px 10px 0px;
}

.tile .more a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
}

.App.dark .tile .more a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  color: white;
}

.profile h2 {
  margin-top: -40px;
}

/* Screens */

@media screen and (max-width: 800px) {
  .page {
    padding: 0px 1.0875rem 1.45rem;
  }

  .name,
  .job {
    margin: auto auto;
  }

  .big.menu h1.name {
    font-size: 1.3rem;
    float: right;
    text-align: right;
    margin-bottom: 10px;
  }

  .big.menu .item span {
    float: right;
  }

  .big.menu .content>.item:nth-child(2) {
    max-width: 46%;
  }

  .big.menu img.profile {
    transform: scale(2.5) translateX(7px);
    transition: transform .17s ease-out;
    margin-top: 0px;
  }

  .menu:not(.big) .content {
    margin: unset;
    width: 100%;
  }

  .menu:not(.big) .group.item {
    float: right;
    margin-right: 10px;
  }

  .profile h2 {
    font-size: 1.5rem;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: unset;
    transition: max-width .5s;
  }

  .menu h1::after {
    content: " dos Reis de Jesus";
  }
}