.container {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  background-clip: border-box;
  height: 100%;
  width: 100%;
}

.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.personal > * {
  margin: 0px 20px;
}

.picture {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.name {
  font-size: 2rem;
}

.job {
  font-size: 1.5rem;
  font-weight: 100;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social > * {
  padding: 10px;
  margin-left: 10px;
  min-width: 70px;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > * {
  margin: 5px 0px;
}

.shorcut {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.item span {
  font-size: 1.6rem;
  height: fit-content;
  margin-left: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 768px) {
  .data {
    margin: 0px;
  }
  .personal {
    flex-direction: column;
    margin-top: 20px;
  }
  .job {
    padding: 0px 10px;
  }
  .social {
    margin: 20px;
  }
  .social > * {
    flex: 1 0 15%;
  }

  .info {
    margin-top: 50px;
    text-align: center;
  }
}
