.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 0px 24px 48px 24px;
  padding-top: 0px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  min-height: 48vh;
  max-height: 768px;
  width: 100%;
}

.personal {
  display: flex;
  align-items: center;
  padding: 20px;
}

.personal > * {
  margin: 0px 20px;
  width: fit-content;
}

.picture {
  max-width: 300px;
  width: 16rem;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.logo {
  font-size: 2rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.name {
  font-size: 3rem;
}

.job {
  font-size: 1.5rem;
  font-weight: 100;
}

.job a:hover {
  text-decoration: underline;
}

.social {
  display: grid;
  grid-auto-flow: column; 
  gap: 16px;
  margin-top: 20px;
  padding: 0px;
  list-style-type: none;
}

.social li:hover {
  transform: scale(1.1);
}

.social .item {
  transition: transform 0.4s;
}

.social .item span {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 80rem;
  width: 100%;
  gap: 36px;
}

.item {
  border-radius: 20px;
  transition: transform 0.4s;
}

.item > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item:hover {
  transform: scale(1.05);
}

.item span {
  font-size: 1.6rem;
  height: fit-content;
  margin-left: 20px;
  font-weight: 600;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 991px) {
  .content {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .data {
    margin: 0px;
  }

  .name i {
    padding-left: 16px
  }

  .picture {
    align-self: center;
  }

  .personal {
    flex-direction: column;
    margin-top: 20px;
  }

  .job {
    padding: 0px 10px;
  }

  .info {
    margin-top: 50px;
    text-align: center;
  }

  .shortcut {
    padding: 0px;
    grid-auto-flow: row;
    width: fit-content;
  }

  .shortcut .item {
    display: flex;
  }

  .social .item span {
    display: block;
  }
}

@media (max-width: 600px) {
  .social {
    padding: 0px;
    column-gap: 36px;
    margin: 10px 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
  }

  .logo {
    font-size: 2.4rem;
  }
}