.box {
  position: relative;
  text-align: left;
  float: left;
  color: black;
  height: fit-content;
  padding: 20px;
}

.App.dark .box {
  background-color: rgb(43, 43, 43);
  color: white;
}

/* Menu */

.menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  color: white !important;
  background-size: cover;
  justify-content: space-between;
  transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu.colored {
  /* background: linear-gradient(to right, #3a3a3a, #2c2c2c, #4d4d4d) */
  background: #444444
}

.sticky {
  position: sticky;
  top: 0;
  flex-direction: column;
}

.fixed {
  position: fixed;
  top: 0;
  flex-direction: column;
}

.sticky.menu .avatar {
  margin: 0px;
}

.sticky.menu .avatar img {
  height: 32px;
  width: 32px;
}

.logo {
  max-height: 32px;
  margin: auto auto;
}

.menu section {
  display: flex;
}

.hamburguer {
  -webkit-appearance: none;
  border: none;
  display: none;
  color: white;
  background: transparent;
  padding: 12px;
}

.hamburguer .icon {
  font-size: 25px;
}

.menu li {
  list-style-type: none;
  margin: auto auto;
}

.menu .content {
  display: flex;
  max-width: 960px;
  width: fit-content;
  margin: auto auto;
}

.menu .avatar {
  margin: auto;
}

.menu ul {
  display: flex;
}

.fixed {
  position: fixed;
}

.top.fixed {
  top: 0;
}

.App.dark .menu {
  color: white;
  background: linear-gradient(to right, #111, #222, #111);
}

.floating.menu {
  position: fixed;
  top: 0px;
}

.menu ul {
  padding: 0px;
}

.menu .social {
  float: right;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.menu section:has(.social) {
  float: right;
  right: 0;
  position: absolute;
  margin: 9px;
}

.topics {
  width: fit-content;
  margin: 20px auto;
}

.topics .item {
  text-decoration: none;
  margin: 10px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

a:not(.item) {
  text-decoration: none;
  color: #1c5cb1;
}

a:not(.item):hover {
  text-decoration: underline;
}

a .icon {
  color: white;
  font-size: 1.6rem;
  margin: auto 3px;
  padding: 3px;
}

.menu .social a {
  display: block;
}

.menu .item:not(:has(img)):hover {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu .item:not(:has(img)) {
  background-color: transparent;
  text-transform: uppercase;
  width: fit-content;
  float: left;
  padding: 10px;
}

img.profile {
  vertical-align: middle;
  padding: 8px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin: 10px;
}

.menu h1 {
  font-size: 1.8rem;
  padding-left: 10px;
  margin: auto;
  transition: font-size 0.1s ease-in;
}

.menu h2 {
  font-size: 1.2rem;
  padding-left: 10px;
  margin: auto;
  transition: font-size 0.1s ease-in;
}

/* Content */

main {
  margin: auto auto;
}

main>section {
  margin-bottom: 10px;
  padding: 10px 0px;
  width: 100%;
}

main>section section.content {
  max-width: 960px;
  margin: auto auto;
  display: flex;
}

main section.content .title {
  margin: auto;
  text-align: center;
}

main section:nth-child(2n)>section.content>section {
  padding: 10px 15px;
}

section.merchan {
  color: white;
  height: 356px;
  background-image: url(../img/parallax-1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.merchan h1 {
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
}

section.merchan h2 {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

section.personal {
  margin-top: 45px;
}

section.skills .title::after {
  position: absolute;
  content: "";
  top: 11px;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}


/* Texts */

.muted {
  color: rgba(0, 0, 0, 0.5);
  word-break: break-word;
}

.App.dark .muted {
  color: rgba(255, 255, 255, 0.5);
}

.box .title {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.info span {
  display: block;
}

/* Buttons */

.scroll-to-top {
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  color: #064aa3;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 1.8rem;
}

.scroll-to-top.visible {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.scroll-to-top.visible:hover {
  transform: translateZ(20px);
}

/* Profile */

.profile .header {
  margin: 30px auto;
}

/* Projects */

.projects {
  margin-left: 5%;
  position: absolute;
  right: 10vw;
  width: 20vw;
}

.tiles {
  margin: 5px;
}

.tile {
  padding: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.App.dark .tile {
  padding: 10px 10px 10px 10px;
  background-color: rgb(59, 59, 59);
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tile .name::before {
  content: "#";
  font-weight: bold;
  margin-right: 5px;
}

.tile .tecnologies {
  margin-top: 10px;
}

.tile .more {
  margin: 15px 0px 10px 0px;
}

.tile .more a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
}

.App.dark .tile .more a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  color: white;
}

h1.name {
  font-weight: 200;
}

h2.age {
  color: dimgray;
  font-weight: lighter;
  font-family: "Libre Franklin";
  font-size: 1.5rem;
  margin-top: -2px;
}

/* Screens */

@media screen and (max-width: 425px) {
  main img.profile {
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
  }

  section.merchan {
    margin-top: 0;
  }

  section.merchan h1 {
    font-size: 1.6rem;
  }

  section.personal {
    margin-top: 0px;
  }

  .topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    margin: 0px;
    overflow: hidden;
    transition: height 0.2s ease-in;
  }

  .menu .hamburguer {
    display: flex;
  }

  .menu>.content>.navigation {
    display: none !important;
  }

  .menu .social {
    float: right;
    right: 0;
    position: absolute;
    margin: 10px;
  }

  main section.content {
    width: 100%;
    flex-direction: column;
  }

  main section.content img {
    max-width: 100%
  }

  .topics.active {
    margin: 10px auto;
    height: 160px;
  }

  .topics li {
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }

  .topics.active li {
    margin: 10px;
    opacity: 1;
    text-align: center;
  }

  .topics .item {
    font-size: 1rem;
  }
}

@media screen and (min-width: 426px) {
  .menu>.navigation {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0px 1.0875rem 1.45rem;
  }

  .menu .content {
    margin: unset;
    width: 100%;
  }

  .profile h2 {
    font-size: 1.5rem;
    margin: auto;
  }

  .scroll-to-top {
    font-size: 1.6rem;
  }

  section.merchan h2 {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: unset;
    transition: max-width 0.5s;
  }
}