.icons i {
    flex: 1;
    margin: 0px 8px;
    color: grey;
}

.icons i:hover {
    color: #3D5D85;
}

.icons {
    width: fit-content;
    font-size: 3rem;
    margin: 20px 10px;
    display: flex;
}