html,
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", serif;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

.small {
  font-size: 1.2rem;
}

.column {
  float: left;
}

.page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.one.wide {
  width: 8.3333%;
}

.column.two.wide {
  width: 16.6666%;
}

.column.three.wide {
  width: 25%;
}

.column.four.wide {
  width: 33.33%;
}

.column.five.wide {
  width: 41.66%;
}

.column.six.wide {
  width: 50%;
}

.column.seven.wide {
  width: 58.33%;
}

.column.eight.wide {
  width: 66.66%;
}

.column.nine.wide {
  width: 75%;
}

.column.ten.wide {
  width: 83.33%;
}

.column.eleven.wide {
  width: 91%;
}

.column.twelve.wide,
.full.wide {
  width: 100%;
}

/* */

.left.floated {
  float: left !important;
}

.right.floated {
  float: right !important;
}

.pt-20 {
  padding-top: 20px;
}

.middle-align {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}