@import "./App.css";

.personal {
  display: block;
}

.box {
  position: relative;
  text-align: left;
  float: left;
  background-color: white;
  height: fit-content;
  padding: 20px;
}

/* Texts */

span.muted {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding-left: 10px;
  word-break: break-word;
}

.box .title {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.profile .name {
  font-size: 1.5rem;
  padding: 10px;
}

/* Profile */

.profile,
.career {
  width: 50vw;
  left: 10vw;
}

.profile .details .image {
  display: inline-block;
  width: 100%;
  margin: 10px;
}

.profile .details .info {
  margin-left: 5%;
  margin-top: 2%;
}

.info span {
  display: block;
}

/* Projects */

.projects {
  margin-left: 5%;
  position: absolute;
  right: 10vw;
  width: 20vw;
}

.tiles {
  margin: 5px;
}

.tile {
  padding: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tile .name::before {
  content: "#";
  margin-right: 5px;
}

.tile .tecnologies {
  margin-top: 10px;
}

.tile .more {
  margin: 15px 0px 10px 0px;
}

.tile .more a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  color: black;
}

.career {
  margin-top: 20px;
}

/* Screens */

@media screen and (max-width: 976px) {
  .personal {
    display: inline-block;
    width: 80vw;
  }
  .profile,
  .projects,
  .career {
    position: relative;
    left: auto;
    right: auto;
    width: 90%;
  }

  .projects {
    margin-top: 20px;
    margin-left: 0;
  }
}
