.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timeline {
    align-items: center;
    gap: 8px;
    border-left: 2px solid #e0e0e0;
    padding-left: 1.5rem;
}

.about header {
    text-align: center;
}

.about {
    max-width: 80rem;
    white-space: pre-line;
    text-align: justify;
    margin: 0px 24px;
}

@media (max-width: 767px) {
    .timeline {
        margin: 0px 24px;
    }
}